@import 'normalize.css';
@import './variables.css';

* { box-sizing: border-box; }

html {
  font-size: 62.5%;
}

body {
  font: 1.8rem/1.4 var(--sans);
  color: var(--color-dark);
	background-color: #FEFEFE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--serif);
  font-weight: 600;
}

a {
  color: var(--color-primary);
  transition: color 250ms;
  &:hover {
    color: var(--color-primary-dark);
  }
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

