:root {
  --color-dark: #282B2C;
  --color-primary: #FF3B3B;
  --color-primary-dark: #B21717;
  --color-secondary: #FFFD54;
  --color-light-gry: #EEEFF1;
  --color-medium-gry: #C8CDD4;

  --serif: 'Playfair Display', serif;
  --sans: 'Karla', sans-serif;

  --space-small: 0.8rem;
  --space-medium: 1.6rem;
  --space-normal: 2rem;
  --space-large: 3.2rem;
  --space-larger: 4.8rem;
  --space-largest: 6rem;

  --ls-loose: 1.5px;

  --shadow-large: 0 0 30px rgba(0, 0, 0, 0.15);

  @custom-media --xsmall (min-width: 20em);
  @custom-media --small (min-width: 30em);
  @custom-media --medium (min-width: 37.5em);
  @custom-media --xmedium (min-width: 48em);
  @custom-media --large (min-width: 56.25em);
  @custom-media --xlarge (min-width: 81.25em);
}
