@import '../../variables.css';

.page-section {
  display: flex;
  flex-flow: column nowrap;
  margin: var(--space-larger) 0;

  &:first-child {
    margin-top: 0;
  }

  @media (--medium) {
    flex-flow: row nowrap;
  }

  @media (min-width: 1150px) /* 850 content width + 150 offset * 2 */ {
    margin-left: -15rem;
  }
}

.page-section__info {
  padding: 0 var(--space-large) var(--space-large);

  @media (--medium) {
    flex: 0 0 15rem;
    padding: 0 var(--space-large) 0;
    border-right: 1px solid var(--color-medium-gry);
  }
}

.page-section__count {
  margin: 0;
  padding: 0;
  color: var(--color-medium-gry);
  font: 600 4.6rem var(--serif);
}

.page-section__title {
  margin: 0;
  padding: 0;
  color: var(--color-dark);
  font: 600 1.6rem var(--sans);
  text-transform: uppercase;
}

.page-section__content {
  padding: 0 var(--space-large);
}
