<div class="inline-block border border-1 border-light-gry rounded">
  {{#if imgSrc}}
    <div class="overflow-hidden aspect-ratio aspect-ratio-16x9">
      <img src="{{imgSrc}}" class="col-12" />
    </div>
  {{/if}}
  <div class="p2">
    <h3 class="serif fs-5 m0 mb1 p0">{{title}}</h3>
    <p class="fs-3 color-gry m0 p0">{{description}}</p>
    <a href="{{href}}" class="mt2 btn btn-dark js-open-story">Read All</a>
  </div>
</div>
