<!doctype html>
<html>
  <head>
    <title>
      {{#if title}}
        {{ title }}
      {{else}}
        Derek Duncan | Website Developer & Designer
      {{/if}}
    </title>

    {{!-- Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Karla:400,400i,700" rel="stylesheet">
  </head>
  <body>
    {{> @partial-block }}
    {{#unless useAlternateBundle}}
      <script type="text/javascript" src="/scripts/main.bundle.js"></script>
    {{/unless}}
  </body>
</html>
