<!doctype html>
<html>
  <head>
    <title>
      {{#if title}}
        {{ title }}
      {{else}}
        Derek Duncan | Website Developer & Designer
      {{/if}}
    </title>

		<meta name="description" content="Passionate about experiences on the internet. I spend my days creating new ones.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    {{!-- Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Karla:400,400i,700" rel="stylesheet">
  </head>
  <body>
    {{> @partial-block }}
    {{#unless useAlternateBundle}}
      <script type="text/javascript" src="/scripts/main.bundle.js"></script>
    {{/unless}}
  </body>
</html>
