@import '../../variables.css';
@import '../../animations.css';

.banner {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.banner__background {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 50rem;
  height: auto;
  opacity: 0;
  animation: fadeIn 500ms 250ms forwards;
}

.banner__mark {
  margin: var(--space-largest) 0 0;
  width: 5.4rem;
  height: 5.4rem;
  animation: dropIn 250ms forwards;
}

.banner__name {
  margin: var(--space-medium) 0 0;
  padding: 0;
  font-family: var(--serif);
  font: 600 4.6rem var(--serif);
  animation: pushUp 250ms forwards;

  span { color: var(--color-secondary); }
}

.banner__text,
.banner__icons {
  opacity: 0;
  animation: fadeIn 500ms 250ms forwards;
}

.banner__text {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

.banner__icons {
  display: flex;
  justify-content: center;
  margin: var(--space-large) 0 0;
  min-height: 2.2rem;

  a {
    opacity: 1;
    transition: opacity 250ms;
    &:hover {
      opacity: 0.75;
    }
  }
}

.banner__icon {
  margin: 0 var(--space-medium);
  width: 2.2rem;
}
