@import 'normalize.css';
@import 'basscss';
@import 'basscss-responsive-margin';
@import 'basscss-responsive-padding';

* { box-sizing: border-box; }

body {
  font-family: 'Khula', sans-serif;
  color: #30373E;
}

.sans { font-family: 'Khula', sans-serif; }
.serif { font-family: 'Lora', serif; }
.bold { font-weight: 600; }

.color-dark { color: #30373E; }
.bg-dark { background-color: #30373E; }
.border-dark { border-color: #30373E; }

.color-primary { color: #1883FF; }
.bg-primary { background-color: #1883FF; }
.border-primary { border-color: #1883FF; }

.color-gry { color: #828E9B; }
.bg-gry { background-color: #828E9B; }
.border-gry { border-color: #828E9B; }

.color-light-gry { color: #EDEDED; }
.bg-light-gry { background-color: #EDEDED; }
.border-light-gry { border-color: #EDEDED; }

.color-light { color: #f2f2f2; }
.bg-light { background-color: #f2f2f2; }

.color-white { color: #fff; }
.bg-white { background-color: #fff; }

.lh-0 { line-height: 0; }
.lh-tight { line-height: 1.2; }
.lh-normal { line-height: 1.6; }
.lh-loose { line-height: 1.8; }

.aspect-ratio { height: 0; position: relative; }
.aspect-ratio-16x9 { padding-bottom: 56.25%; }
.aspect-ratio-6x4 { padding-bottom: 66.6%; }

.outline-none { outline: none; }

.rounded { border-radius: 10px; }

.border-dashed { border-style: dashed; border-image: url('/images/dashed-border.svg') 2 round; }

.border-0 { border-width: 0; }
.border-1 { border-width: 1px; }
.border-2 { border-width: 2px; }
.border-3 { border-width: 3px; }
.border-4 { border-width: 4px; }

.border-bottom-1 { border-bottom-width: 1px; }
.border-bottom-2 { border-bottom-width: 2px; }
.border-bottom-3 { border-bottom-width: 3px; }
.border-bottom-4 { border-bottom-width: 4px; }

.border-top-1 { border-top-width: 1px; }
.border-top-2 { border-top-width: 2px; }
.border-top-3 { border-top-width: 3px; }
.border-top-4 { border-top-width: 4px; }

.border-left-1 { border-left-width: 1px; }
.border-left-2 { border-left-width: 2px; }
.border-left-3 { border-left-width: 3px; }
.border-left-4 { border-left-width: 4px; }

.border-right-1 { border-right-width: 1px; }
.border-right-2 { border-right-width: 2px; }
.border-right-3 { border-right-width: 3px; }
.border-right-4 { border-right-width: 4px; }

.grow-0 { flex-grow: 0; }
.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }

.shrink-0 { flex-shrink: 0; }
.shrink-1 { flex-shrink: 1; }
.shrink-2 { flex-shrink: 2; }

.flex-0 { flex: 0; }
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }

@responsive {
  .fs-1 { font-size: 10px; }
  .fs-2 { font-size: 14px; }
  .fs-3 { font-size: 18px; }
  .fs-4 { font-size: 24px; }
  .fs-5 { font-size: 32px; }
  .fs-6 { font-size: 50px; }
}
