{{#> layout }}
  <div class="p3">
    {{#> pageSection}}
      <h1 class="fs-6 color-primary serif m0 mb1">Derek Duncan</h1>
      <p class="fs-3 color-gry m0">I develop websites. I love the challenge & creativity. Oh! I design sometimes as well.</p>
    {{/pageSection}}

    {{#> pageSection}}
      {{> subtitle text="News"}}
      <div class="flex mxn2">
        <div class="col-3 mx2">
          {{> card title="Curadora was shut down" description="Lorem ipsum is simply dummy text" href="/" imgSrc="http://weknowyourdreams.com/images/mountain/mountain-08.jpg" }}
        </div>
        <div class="col-3 mx2">
          {{> card title="Curadora was shut down" description="Lorem ipsum is simply dummy text" href="/" imgSrc="http://weknowyourdreams.com/images/mountain/mountain-08.jpg" }}
        </div>
      </div>
    {{/pageSection}}
  </div>

  <div class="p3 fixed bottom-0 left-0 col-12 bg-white border-top border-1 border-light-gry">
    {{> subtitle text="Messaging"}}
    <div>
      <img src="/images/command-icon.svg" />
    </div>
  </div>
{{/layout }}
